<p>
These recipes are my baseline for meal prepping lunches each week. The MacroFactor links provided do link directly into my version of the recipe, so I may shift things a bit week over week to reflect the realities of the ingredients on hand. This may result in minor discrepencies between the nutritional information displayed on the recipe page and what's displayed in the MacroFactor app.
</p>
<div class="twelve columns">
  <div class="four columns">
    <h3 class="header">Main Courses</h3>
    <ul class="posts recipe">
      {% for post in site.categories.main_courses %}
        <div>» <a href="{{ post.url | absolute_url }}">{{ post.title }}</a></div>
      {% endfor %}
    </ul>
  </div>

  <div class="four columns">
    <h3 class="header">Side Dishes</h3>
    <ul class="posts recipe">
      {% for post in site.categories.side_dishes %}
        <div>» <a href="{{ post.url | absolute_url }}">{{ post.title }}</a></div>
      {% endfor %}
    </ul>
  </div>

  <div class="four columns">
    <h3 class="header">Desserts</h3>
    <ul class="posts recipe">
      {% for post in site.categories.desserts %}
        <div>» <a href="{{ post.url | absolute_url }}">{{ post.title }}</a></div>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="twelve columns">
  <div class="six columns">
    <h3 class="header">Protein Powder</h3>
    <ul class="posts recipe">
      {% for post in site.categories.protein_powder %}
        <div>» <a href="{{ post.url | absolute_url }}">{{ post.title }}</a></div>
      {% endfor %}
    </ul>
  </div>

  <div class="six columns">
    <h3 class="header">Components</h3>
    <ul class="posts recipe">
      {% for post in site.categories.components %}
        <div>» <a href="{{ post.url | absolute_url }}">{{ post.title }}</a></div>
      {% endfor %}
    </ul>
  </div>
</div>
