// Overall
$background: #24273a;
$hr: #45475a;

// Navigation
$nav_link: #cba6f7;
$nav_hover_link: $nav_link;
$nav_border_bottom_link_selected: #f5c2e7;
$nav_border_bottom_link_hover: #f5c2e7;

// Recipe contents
$ul_li_link: #cba6f7;
$link: #cba6f7;
$hover_link: #f5c2e7;
$text: #cdd6f4;
$ol_li_background: #f5c2e7;
$ol_li_foreground: #24273a;
$gen_info_right_border: #45475a;
$header_color: #f5c2e7;

$header_font: 'DynaPuff';
$body_font: 'Montserrat';
